{% extends 'base.html'%}


{% block title %} Seja bem vindo {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-6">
          <h1> {{ request.session.message }} </h1>
        </div>
        <div class="col-sm">

            <a href="/clientes/list">Gerenciar Clientes</a>

            {% if user.is_authenticated %}
                <p>Ola {{ user.username }}</p>
                <a href="{% url 'logout' %}">Sair</a><br>
                <a href="{% url 'password_change' %}">Alterar senha</a>
            {% else %}
                <a href="{% url 'login' %}"class="btn btn-light">Entrar</a>

            {% endif %}

        </div>
    </div>





{% endblock%}

{% block footer %}
{% include 'footer.html'%}
{% endblock %}